absl-py==2.1.0
accelerate==0.34.2
alembic==1.13.2
altair==5.4.1
anchor_exp==0.0.2.0
aniso8601==9.0.1
annotated-types==0.7.0
anyio==4.4.0
appnope==0.1.4
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
arrow==1.3.0
asttokens==2.4.1
astunparse==1.6.3
async-lru==2.0.4
attrs==23.2.0
autokeras==2.0.0
autopep8==2.3.1
autoviz==0.1.905
awswrangler==3.9.1
babel==2.16.0
beautifulsoup4==4.12.3
black==24.8.0
bleach==6.1.0
blinker==1.8.2
blis==0.7.11
bokeh==3.4.3
boto3==1.35.19
botocore==1.35.19
cachetools==5.5.0
catalogue==2.0.10
catboost==1.2.7
category-encoders==2.6.3
causal-learn==0.1.3.8
certifi==2024.8.30
cffi==1.17.1
charset-normalizer==3.3.2
click==8.1.7
cloudpathlib==0.19.0
cloudpickle==2.2.1
cmdstanpy==1.2.4
colorcet==3.1.0
colorlog==6.8.2
comm==0.2.2
confection==0.1.5
contourpy==1.3.0
cycler==0.12.1
cymem==2.0.8
databricks-sdk==0.32.1
debugpy==1.8.5
decorator==5.1.1
defusedxml==0.7.1
Deprecated==1.2.14
diffusers==0.30.2
dill==0.3.8
dm-tree==0.1.8
docker==7.1.0
docstring_parser==0.16
dowhy==0.8
econml==0.15.1
emoji==2.12.1
en-core-web-md @ https://github.com/explosion/spacy-models/releases/download/en_core_web_md-3.7.1/en_core_web_md-3.7.1-py3-none-any.whl#sha256=6a0f857a2b4d219c6fa17d455f82430b365bf53171a2d919b9376e5dc9be032e
etils==1.9.4
executing==2.1.0
fastjsonschema==2.20.0
filelock==3.16.0
flake8==7.1.1
Flask==3.0.3
flatbuffers==24.3.25
fonttools==4.53.1
fqdn==1.5.1
fsspec==2024.9.0
gast==0.6.0
gensim==4.3.3
gitdb==4.0.11
GitPython==3.1.43
google-auth==2.34.0
google-pasta==0.2.0
googleapis-common-protos==1.65.0
graphene==3.3
graphql-core==3.2.4
graphql-relay==3.2.0
graphviz==0.20.3
greenlet==3.1.0
grpcio==1.66.1
gunicorn==23.0.0
h11==0.14.0
h5py==3.11.0
holidays==0.56
holoviews==1.19.1
httpcore==1.0.5
httpx==0.27.2
huggingface-hub==0.24.7
hvplot==0.10.0
idna==3.10
imageio==2.35.1
imbalanced-learn==0.12.3
immutabledict==4.2.0
importlib-metadata==6.11.0
importlib_resources==6.4.5
ipykernel==6.29.5
ipython==8.27.0
ipywidgets==8.1.5
iso3166==2.1.1
isodate==0.6.1
isoduration==20.11.0
isort==5.13.2
itsdangerous==2.2.0
jedi==0.19.1
Jinja2==3.1.4
jmespath==1.0.1
joblib==1.4.2
json5==0.9.25
jsonpointer==3.0.0
jsonschema==4.23.0
jsonschema-specifications==2023.12.1
jupyter-events==0.10.0
jupyter-lsp==2.2.5
jupyter_client==8.6.2
jupyter_core==5.7.2
jupyter_server==2.14.2
jupyter_server_terminals==0.5.3
jupyterlab==4.2.5
jupyterlab_pygments==0.3.0
jupyterlab_server==2.27.3
jupyterlab_widgets==3.0.13
kagglehub==0.3.0
keras==3.5.0
keras-nlp==0.15.0
keras-tuner==1.4.7
kiwisolver==1.4.7
kt-legacy==1.0.5
langcodes==3.4.0
language_data==1.2.0
lazy_loader==0.4
libclang==18.1.1
lightgbm==4.5.0
lime==0.2.0.1
linkify-it-py==2.0.3
llvmlite==0.43.0
lux==0.5.1
lux-api==0.5.1
lux-widget==0.1.11
Mako==1.3.5
marisa-trie==1.2.0
Markdown==3.7
markdown-it-py==3.0.0
MarkupSafe==2.1.5
matplotlib==3.9.2
matplotlib-inline==0.1.7
mccabe==0.7.0
mdit-py-plugins==0.4.2
mdurl==0.1.2
mistune==3.0.2
ml-dtypes==0.3.2
mlflow==2.16.1
mlflow-skinny==2.16.1
mock==4.0.3
mpmath==1.3.0
multiprocess==0.70.16
murmurhash==1.0.10
mypy-extensions==1.0.0
namex==0.0.8
narwhals==1.8.1
nbclient==0.10.0
nbconvert==7.16.4
nbformat==5.10.4
nest-asyncio==1.6.0
networkx==3.3
nltk==3.9.1
notebook==7.2.2
notebook_shim==0.2.4
numba==0.60.0
numpy==1.26.4
opentelemetry-api==1.27.0
opentelemetry-sdk==1.27.0
opentelemetry-semantic-conventions==0.48b0
opt-einsum==3.3.0
optree==0.12.1
optuna==4.0.0
overrides==7.7.0
packaging==24.1
pandas==2.2.2
pandas-dq==1.29
pandocfilters==1.5.1
panel==1.4.5
param==2.1.1
parso==0.8.4
pathos==0.3.2
pathspec==0.12.1
patsy==0.5.6
pexpect==4.9.0
pillow==10.4.0
platformdirs==4.3.3
plotly==5.24.1
pox==0.3.4
ppft==1.7.6.8
preshed==3.0.9
prometheus_client==0.20.0
promise==2.3
prompt_toolkit==3.0.47
prophet==1.1.5
protobuf==4.25.4
psutil==6.0.0
ptyprocess==0.7.0
pure_eval==0.2.3
py4j==0.10.9.7
pyamg==5.2.1
pyarrow==17.0.0
pyasn1==0.6.1
pyasn1_modules==0.4.1
pycodestyle==2.12.1
pycparser==2.22
pydantic==2.9.1
pydantic_core==2.23.3
pydot==3.0.1
pyflakes==3.2.0
Pygments==2.18.0
pyparsing==3.1.4
pyspark==3.5.2
python-dateutil==2.9.0.post0
python-json-logger==2.0.7
pytz==2024.2
pyviz_comms==3.0.3
PyYAML==6.0.2
pyzmq==26.2.0
rdflib==7.0.0
referencing==0.35.1
regex==2024.9.11
requests==2.32.3
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rich==13.8.1
rpds-py==0.20.0
rsa==4.9
s3transfer==0.10.2
safetensors==0.4.5
sagemaker==2.232.0
sagemaker-core==1.0.4
schema==0.7.7
scikit-image==0.24.0
scikit-learn==1.5.2
scipy==1.13.1
seaborn==0.13.2
Send2Trash==1.8.3
setuptools==75.0.0
sh==2.0.7
shap==0.43.0
shellingham==1.5.4
simple-parsing==0.1.6
six==1.16.0
slicer==0.0.7
smart-open==7.0.4
smdebug-rulesconfig==1.0.1
smmap==5.0.1
sniffio==1.3.1
soupsieve==2.6
spacy==3.7.6
spacy-legacy==3.0.12
spacy-loggers==1.0.5
sparse==0.15.4
split-folders==0.5.1
SQLAlchemy==2.0.34
sqlparse==0.5.1
srsly==2.4.8
stack-data==0.6.3
stanio==0.5.1
statsmodels==0.14.3
sweetviz==2.3.1
sympy==1.13.2
tblib==3.0.0
tenacity==9.0.0
tensorboard==2.16.2
tensorboard-data-server==0.7.2
tensorflow==2.16.2
tensorflow-datasets==4.9.6
tensorflow-metadata==1.15.0
termcolor==2.4.0
terminado==0.18.1
textblob==0.18.0.post0
thinc==8.2.5
threadpoolctl==3.5.0
tifffile==2024.8.30
tinycss2==1.3.0
tokenizers==0.19.1
toml==0.10.2
torch==2.2.2
torchaudio==2.2.2
torchvision==0.17.2
tornado==6.4.1
tqdm==4.66.5
traitlets==5.14.3
transformers==4.44.2
typer==0.12.5
types-python-dateutil==2.9.0.20240906
typing_extensions==4.12.2
tzdata==2024.1
uc-micro-py==1.0.3
uri-template==1.3.0
urllib3==2.2.3
voila==0.5.7
wasabi==1.1.3
wcwidth==0.2.13
weasel==0.4.1
webcolors==24.8.0
webencodings==0.5.1
websocket-client==1.8.0
websockets==13.0.1
Werkzeug==3.0.4
wheel==0.44.0
widgetsnbextension==4.0.13
wordcloud==1.9.3
wrapt==1.16.0
xgboost==1.6.2
xlrd==2.0.1
xyzservices==2024.9.0
zipp==3.20.2
